flow/flow.json
[{
	"type": "tab",
	"id": "cb811535.1ff958",
	"label": "Flow 1"
}, {
	"id": "578c7e33.2be39",
	"type": "watson-text-to-speech",
	"z": "cb811535.1ff958",
	"name": "Watson text to speech",
	"lang": "english",
	"voice": "en-US_AllisonVoice",
	"format": "audio/wav",
	"x": 566,
	"y": 386,
	"wires": [
		["f8d347c7.18d038"]
	]
}, {
	"id": "2cec4b15.c82584",
	"type": "function",
	"z": "cb811535.1ff958",
	"name": "Create count down text",
	"func": "if (msg.payload == 1){\n    msg.payload = \"Stand up commences in \"+ msg.payload + \"minute\"\n}\nelse {\n    msg.payload = \"Stand up commences in \"+ msg.payload + \"minutes\"\n}\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 498,
	"y": 334,
	"wires": [
		["578c7e33.2be39"]
	]
}, {
	"id": "f8d347c7.18d038",
	"type": "function",
	"z": "cb811535.1ff958",
	"name": "Set sound parameters",
	"func": "msg.channels=2\nmsg.bitdepth=16\nmsg.samplerate=11025\nmsg.choose=\"streambased\"\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 767,
	"y": 474,
	"wires": [
		["589ea11a.6fcfc"]
	]
}, {
	"id": "589ea11a.6fcfc",
	"type": "speakerpi-output",
	"z": "cb811535.1ff958",
	"choose": "filebased",
	"filename": "",
	"channels": "1",
	"bitdepth": "8",
	"samplerate": "22050",
	"name": "Count down sound",
	"x": 1041,
	"y": 473,
	"wires": []
}, {
	"id": "1650527.9abddae",
	"type": "inject",
	"z": "cb811535.1ff958",
	"name": "Standup countdown 5",
	"topic": "",
	"payload": "5",
	"payloadType": "num",
	"repeat": "",
	"crontab": "55 07 * * 1,2,3,4,5",
	"once": false,
	"x": 173,
	"y": 97,
	"wires": [
		["2cec4b15.c82584"]
	]
}, {
	"id": "1dc5c132.c49edf",
	"type": "inject",
	"z": "cb811535.1ff958",
	"name": "Standup countdown 4",
	"topic": "",
	"payload": "4",
	"payloadType": "num",
	"repeat": "",
	"crontab": "56 07 * * 1,2,3,4,5",
	"once": false,
	"x": 176,
	"y": 139,
	"wires": [
		["2cec4b15.c82584"]
	]
}, {
	"id": "bf2885df.77cf38",
	"type": "inject",
	"z": "cb811535.1ff958",
	"name": "Standup countdown 3",
	"topic": "",
	"payload": "3",
	"payloadType": "num",
	"repeat": "",
	"crontab": "57 07 * * 1,2,3,4,5",
	"once": false,
	"x": 173,
	"y": 180,
	"wires": [
		["2cec4b15.c82584"]
	]
}, {
	"id": "fcbcb070.58c5a",
	"type": "inject",
	"z": "cb811535.1ff958",
	"name": "Standup countdown 2",
	"topic": "",
	"payload": "2",
	"payloadType": "num",
	"repeat": "",
	"crontab": "58 07 * * 1,2,3,4,5",
	"once": false,
	"x": 174,
	"y": 223,
	"wires": [
		["2cec4b15.c82584"]
	]
}, {
	"id": "4ec9a94c.0409e8",
	"type": "inject",
	"z": "cb811535.1ff958",
	"name": "Standup countdown 1",
	"topic": "",
	"payload": "1",
	"payloadType": "num",
	"repeat": "",
	"crontab": "59 07 * * 1,2,3,4,5",
	"once": false,
	"x": 176,
	"y": 295,
	"wires": [
		["2cec4b15.c82584"]
	]
}, {
	"id": "9a37982d.a56da8",
	"type": "function",
	"z": "cb811535.1ff958",
	"name": "Set filename for sound",
	"func": "msg.filename=\"../../standupforthechampions_converted.wav\"\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 586,
	"y": 544,
	"wires": [
		["b1538bfa.6d1388"]
	]
}, {
	"id": "b1538bfa.6d1388",
	"type": "speakerpi-output",
	"z": "cb811535.1ff958",
	"choose": "filebased",
	"filename": "",
	"channels": "2",
	"bitdepth": "8",
	"samplerate": "22050",
	"name": "Stand up time",
	"x": 1036,
	"y": 542,
	"wires": []
}, {
	"id": "3dd933bd.08c9fc",
	"type": "inject",
	"z": "cb811535.1ff958",
	"name": "Standup commences",
	"topic": "",
	"payload": "1",
	"payloadType": "num",
	"repeat": "",
	"crontab": "00 08 * * 1,2,3,4,5",
	"once": false,
	"x": 178,
	"y": 342,
	"wires": [
		["9a37982d.a56da8"]
	]
}]